@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CourseApp 2.0</h1>
    <p>Application built by following <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg&ab_channel=freeCodeCamp.org">freecodecamp course</a></p>
</div>
