@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
        <h1>Welcome to CourseApp 2.0</h1>
        <p>Please leave a comment on the Visitor page if you'd like. The "Visitor" page will show an error for 30secs ~ 1 min upon clicking.</p>
        <p>Refresh the "Visitor" page after the timeframe and it will show the content.</p>
        <p class="note">Application inspired by <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp course</a>.</p>
    </section>

    
