@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Autopause database</h3>
<p>
    As I am using a free-tier on-premises database, autopause is enabled and it will take 30 seconds~ 1 minute to refresh the page. 
</p>
<p>
    <strong>Please refresh the page and it will show the content. </strong>
</p>
